body {
	font: 14px "Krungthep";
	background: #3A3B3C;
}

.container {
	padding: 0;
}

.header {
	overflow: hidden;
	width: 100%;
	height: 90px;
	border-bottom: 1px solid #8A8A8D;
	background: #3F3F42;
}

.logo {
	width: 320px;
	height: 60px;
	margin: 15px 0 0 15px;
	font-size: 34px;
	line-height: 60px;
}

.green-text {
	color: #10b562;
}

.white-text {
	color: #FFF;
}

.wrapper-form {
	width: 380px;
	height: 100%;
	padding: 10px 50px;
	margin: 60px auto 0;
	border-radius: 1px;
	border: 1px solid #8A8A8D;
	background: #454545;
}

.wrapper-form h1 {
	margin: 0;
	margin: 10px 0;
	color: #ccc;
	font: 18px 'Krungthep';
	text-align: center;
}

#login-form input[type='text'], #login-form input[type='password'], #reg-form input {
	width: 100%;
	height: 38px;
	padding: 0 10px;
	outline: none;
	border-radius: 2px;
	margin: 8px auto;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	color: #FFF;
	border: 1px solid #ccc;
	background: #414141;
}

.form-control {
	border: 1px solid #CCC;
}

.form-control:focus {
  border-color: #66afe9;
  outline: 0;
}

.has-success .form-control {
	border: none;
}

.has-error .form-control {
  border: none;
}

.help-block {
	font-size: 11px;
	line-height: 11px;
	color: #DA4775;
}

.btn-send {
	display: block;
	width: 180px;
	height: 40px;
	margin: 14px auto 8px;
	cursor: pointer;
	outline: none;
	border: none;
	border-bottom: 4px solid #14A058;
	border-radius: 1px;
	color: #F3F3F3;
	font-size: 14px;
	background: #10b562;
	transition: background .3s;
}

.btn-send:hover {
	background: #70B194;
	border-bottom: 4px solid #629B83;
}

.btn-send:active {
	padding-top: 3px;
	background: #629B83;
	border-bottom: 4px solid #629B83;
}

.g-recaptcha {
	width: 300px;
	margin: 0 auto;
}

.field-loginform-rememberme {
	display: block;
	float: left;
	width: 240px;
	margin-top: 4px;
	color: #ccc;
}

.recovery-password {
	display: block;
	float: right;
	margin-top: 4px;
	color: #2D9F34;
	text-decoration: none;
}

.recovery-password:hover {
	text-decoration: underline;
}

.eauth-list {
	margin: 0 0 16px 0 !important;
}

.clear {
	clear: both;
}